.tabs {
	&__btns {
		background:lighten(#e3e3e3,3%);
		list-style:none;
		display:none;
		display:block;
		font-size:0;
		padding:0;

		&-item {
			display:inline-block;
			vertical-align: top;
			border-right:.2rem solid #fff;

			&-lnk {
				display:block;
				box-sizing:border-box;
				min-width:18rem;
				padding:0 1rem;
				height:6rem;
				font: normal 1.6rem/6rem 'Roboto Medium', Arial, sans-serif;
				text-decoration:none;
				color:#666;
				text-align:center;
				transition: background-color .2s, color .2s;
				&:hover {
					background:#e3e3e3;
				}
				&_active,&_active:hover {
					color:#5db722;
					background: lighten(#e3e3e3,10%);
				}
			}
		}
	}
	&__content {
		padding:3rem;
	}
}