%clearfix {
	*zoom: 1;
	&:before,
	&:after {
		display: table;

		content: "";
	}
	&:after {
		clear: both;
	}
}

%list-reset {
	margin: 0;
	padding: 0;

	list-style: none;
}

%ibm {
	display: inline-block;
	vertical-align: middle;
}
%ibt {
	display: inline-block;
	vertical-align: top;
}

%vm {
	&:after {
		content:"";
		height:100%;
		width:0;
		overflow:hidden;
		@extend %ibm;
	}
}