html,
body {
	height: 100%;
}
html {
	font-size: $base-font-size;
	line-height: 1.5;
}
body {
	font-family: $default-font;
}
img {
	max-width: 100%;
	width: auto;
	height: auto;
	-ms-interpolation-mode: bicubic;
}
::selection {
	background-color:darken(#78a165,10);
	color:#fff;
	text-shadow: none;
}
.row {
	font-size: 0;
	&__col {
		box-sizing: border-box;
		padding: 2rem 0;
		width: 100%;
		
		@extend %ibt;
		&_w50 {
			width: 50%;
		}
		&_w50.row__col_with-margin {
			width: 49%;
			margin:0 0 0 2%;
			&:nth-child(2n-1) {
				margin:0;
			}
		}
		&_w33 {
			width: 33.33%;
		}
		&_w33.row__col_with-margin {
			width: 32%;
			margin:0 0 0 2%;
			&:nth-child(3n-2) {
				margin:0;
			}
		}
		&_tablet-full-width {
			@include breakpoint($tablet) {
				display:block;
				width:auto;
				padding: 0;
			}
			&:first-child {
				background:#ebefe2;
			}
		}
	}
}