$phone: 480px;
$tablet: 768px;
$small-desktop: 1024px;
$desktop: 1200px;
$large-desktop: 1800px;

$base-font-size: 10px;


$default-font: "Roboto Regular", sans-serif;
$default-font-size: 1.6rem;


$str-field-color: #5d5a55;
$str-field-font-size: $default-font-size;


$check-field__check-bgcolor: #fff;
$check-field__check-bgcolor_checked: #6c9c5a;


$radio-field__radio-bgcolor: #fff;
$radio-field__radio-bgcolor_checked: #6c9c5a;


$btn-font: "Roboto Medium", sans-serif;
$btn-font-size: $default-font-size;
$btn-color: #fff;
$btn-bgcolor: #6c9c5a;
$btn-bgcolor_hover: darken(#6c9c5a,5);
$btn-bgcolor_clear: transparent;
$btn-border-color_clear: #fff;
$btn-bgcolor_clear_hover: #4e8839;
$btn-border-color_clear_hover: #729e19;

$base-time-open-nav: 0.6s;


$profile-color: #fff;
$profile__name-font: "Roboto Medium", sans-serif;
$profile__name-color: #fff;
$profile__caption-color: rgba(#fff,.8);


$social-color: rgba(#fff,.5);
$social-color_hover: #4e8839;
$social-white-color: #fff;
$social-white-color_hover:#6c9c5a;


$nav-bgcolor: #6c9c5a;
$nav-color: #fff;
$nav-border-color: rgba(#dee3e7,.5);


$title-font: "Sansus Webissimo Regular", sans-serif;
$title-color: #566358;
$title-color_white: #fff;
$title-color_dark: #373e42;
$title__bg-img-color: rgba(#93c42e,.1);


$copyright-font-size: $default-font-size;
$copyright-color: #fff;