.about {
   &__pic {
      margin: 0 0 3.3rem;
   }
   &__title {
      margin: 0 0 2.4rem;
      color: $title-color;
      text-align: center;
   }
   &__text {
      font-size: 1.6rem;

      color: #566358;
      p {
         margin: 0 0 1rem;
      }
   }
}
