.slider

	.slider__init-pic 
		img(src="./assets/img/work-2.png" alt="" title="")
	.slider__about-unit
		.slider__unit-title
			.title.title_with-line.title_with-line-upper Сайт школы онлайн <br />Образования
		.slider__unit-descr HTML, CSS, JAVASCRIPT
		.slider__unit-link
			a.btn.btn_with-icon(href="#" title="" nofollow="") 
				+svg("link")
				span Посмотреть сайт

	.slider__nav
		a.slider__nav-btn.slider__nav-btn_prev(href="#" title="")
			img(src="./assets/img/work-1.png" alt="" title="")
			.slider__nav-icon
		a.slider__nav-btn.slider__nav-btn_next(href="#" title="")
			img(src="./assets/img/work-3.png" alt="" title="")
			.slider__nav-icon
