extends ../main

block variables
	- var title = 'Обо мне'

block content	
	
	.page
		header.page__header
			a.btn.btn_clear.btn_right.btn_wide(href="#" title="" nofollow="") Авторизоваться

		main.page__main
		
		footer.page__footer
			include ../blocks/copyright/copyright