extends ../main

block variables
	- var title = 'Страницы приветствия'

block content	
	
	.page.page_full-scr
		header.page__header.page__header_no-bg
			a.btn.btn_clear.btn_right.btn_wide(href="#" title="" nofollow="") Авторизоваться

		main.page__main
			include ../blocks/page/page__flipper
		
		footer.page__footer
			include ../blocks/copyright/copyright