.simple-nav {
	@extend %list-reset;
	@extend %clearfix;
	font-size:0;
	&__item {
		display:inline-block;
		font-family: "Roboto Medium", sans-serif;
		margin:0 4% 0 0;
		&:last-child {
			margin-right:0;
		}
	}
	&__link {
		color:CurrentColor;
		text-decoration:none;
		transition:opacity .2s;
		font-size:1.6rem;
		&:hover {
			opacity:.6;
		}
		@include breakpoint($small-desktop) {
			font-size:1.4rem;
		}
	}
}