.simple-nav {
	@extend %list-reset;
	@extend %clearfix;
	margin-right:-7%;
	&__item {
		display:block;float:left;
		font-family: "Roboto Medium", sans-serif;
		margin:0 7% 0 0;
		&:first-child {
			margin-left:0;
		}
		&:last-child {
			margin-right:0;
		}
	}
	&__link {
		color:CurrentColor;
		text-decoration:none;
		transition:opacity .2s;
		&:hover {
			opacity:0.6;
		}
	}
}