.flipper-trigger {
	&_back {
		transition: visibility 0s linear 0s, opacity .6s, transform .6s;
	}
	&_hidden {
		visibility: hidden;

		transition: visibility 0s linear .6s, opacity .6s, transform .6s;
		transform: translate3d(0, -100%, 0);

		opacity: 0;
	}
}
