.welcome {
	overflow: hidden;

	border-radius: .5rem;
	background: rgba(#122620,.6);
	&__body {
		padding: 4rem 2rem;
	}
	&__sect {
		margin: 0 0 2.9rem;
		&:last-child {
			margin: 0;
		}
	}
	&__btns {
		margin: -.3rem 0 0;
	}
}
