.welcome {
	&__body {
		padding: 4rem 2rem;
	}
	&__sect {
		margin: 0 0 2.9rem;
		&:last-child {
			margin: 0;
		}
	}
	&__btns {
		margin: -.3rem 0 0;
		overflow:hidden;
		border-bottom-right-radius: .5rem;
		border-bottom-left-radius: .5rem;		
	}
}
