.copyright {
	font-size: $copyright-font-size;

	text-align: center;

	color: $copyright-color;

	padding: 0.7rem;

	&_light {
		font-family: "Roboto Light", sans-serif;
	}
	@include breakpoint($tablet) {
		font-family: "Roboto Light", sans-serif;
		font-size: $copyright-font-size*0.875;
		&__del {
			display:block;
			font-size:0;
			height:0;
			clear:both;
		}
	}
}
