.blog {
	font-size: 0;

	padding: 6.8rem 2rem 4.8rem 2rem;

	position:relative;

	@include breakpoint($small-desktop) {
		padding-top:4.9rem;
	}
	@include breakpoint($tablet) {
		padding-top:3.5rem;
	}

	&__nav {
		width: 370/1760*100%;
		margin: -.4rem 120/1760*100% 0 0;
		font-size:0;

		text-align: right;

		@extend %ibt;

		//transition:transform .5s;

		&-button {
			transition:transform .5s;
			overflow:hidden;
			visibility: hidden;
			position:fixed;
			z-index:6;
			top:0;
			bottom:0;
			left:0;
			margin:auto -1.8rem auto 0;
			text-indent:-999rem;
			height:7rem;
			width:1.8rem;
			overflow:hidden;
			border:0;
			background:none;
			outline:none;

			&:after {
				content:"";
				display:block;
				height:100%;
				width:200%;
				position:absolute;
				top:0;
				left:-100%;
				border-radius:50%;
				background: #6c9c5a;
			}
			@include breakpoint($small-desktop) {
				visibility: visible;
				transition:transform .5s ease-out;
			}
		}

		&-list {
			display: inline-block;

			width: 100%;
			max-width: 29rem;
			box-sizing:border-box;

			text-align: right;

			@extend %list-reset;

			&_fixed {
				width: calc(370/1760*(100% - 4rem));
				position:fixed;
				right: calc(100% - 370/1760*(100% - 4rem) - 2rem);
				top: 0;
			}

			&_in-bottom {
				position:absolute;
				width: calc(370/1760*(100% - 4rem));
				right: calc(100% - 370/1760*(100% - 4rem) - 2rem);
				bottom:4.8rem;
			}
			
		}
		&-item {
			font-size: 1.6rem;
			line-height: 1.65;

			margin: 0 0 1rem;

			&:last-child {
				margin:0;
			}
		}
		&-item-lnk {
			position: relative;

			display: inline-block;

			padding: .8rem 0;

			text-decoration: none;

			transition: color .2s;

			color: #455a64;
			&:hover {
				color: #6c9c5a;
			}
			&:after {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 100%;

				display: block;

				width: .3rem;
				margin-left: 1.7rem;

				content: "";
				transition: background-color .2s;
			}
			&_active {
				font-family: "Roboto Bold", sans-serif;

				color: #6c9c5a;
				&:after {
					background-color: #6c9c5a;
				}
			}
		}
		@include breakpoint($small-desktop) {
			overflow: auto;

			-webkit-overflow-scrolling: touch;
			position: fixed;
			transition:transform .5s ease-out;
			top: 0;
			right:100%;
			height: 100vh;
			width: 30rem;
			z-index: 5;
			background: #6c9c5a;
			display: block;
			margin:0;
			box-shadow: 2px 0 6px 0 rgba(0, 0, 0, .25);

			&:after {
				content:"";
				display:inline-block;
				vertical-align:middle;
				position:relative;
				height: 100%;
			}
			&-list {
				vertical-align: middle;
				position: relative;
				width: 100%;
				right: auto;
				top: auto;
			}
			&-item {
				padding: 0 2rem;
			}
			&-item-lnk {
				color: rgba(#fff,.7);
				&:hover {
					color: #fff;
				}
				&:after {
					display: none;
				}
				&_active {
					color: #fff;
				}
			}

		}		
	}

	@include breakpoint($small-desktop) {
		._showed-blog-menu {
			transform: translate3d(30rem, 0, 0);
		}
	}

	&__list {
		width: 1270/1760*100%;
		max-width: 88rem;
		margin: -.4rem 0 0;

		@extend %ibt;

		@include breakpoint($small-desktop) {
			padding:.6rem;
			max-width:none;
			width:auto;
		}
		@include breakpoint($phone) {
			padding:0;
		}			
	}
	&__item {
		position:relative;

		margin:0 0 14.5rem;

		@include breakpoint($small-desktop) {
			margin:0 0 10.5rem;
		}	
		@include breakpoint($tablet) {
			margin:0 0 7.5rem;
		}	
		@include breakpoint($phone) {
			margin:0 0 5.9rem;
		}			
		&:after {
			content:"";
			display:block;
			position:absolute;
			top:100%;
			left:0;
			width:100%;
			height:.5rem;
			background:#ecebe4;
			max-width:68rem;
			margin-top:7rem;
			@include breakpoint($small-desktop) {
				margin-top:5rem;
			}	
			@include breakpoint($tablet) {
				margin-top:3.5rem;
			}	
			@include breakpoint($phone) {
				margin-top:2.7rem;
			}						
		}
		&:last-child {
			&:after {
				display:none;
			}
			margin: 0;
		}
		&-name {
			font-family: "Sansus Webissimo Regular", sans-serif;
			font-size: 3.5rem;
			line-height: 1;

			margin: 0 0 1.8rem;

			color: #455a64;
			@include breakpoint($tablet) {
				font-size: 3rem;
				margin: 0 0 1.1rem;
			}
			@include breakpoint($phone) {
				font-size: 2.1rem;
			}
		}
		&-date {
			font-size: 1.6rem;

			color: #4e8839;
			@include breakpoint($tablet) {
				font-size: 1.4rem;
				margin: 0 0 -.7rem;
			}			
		}
		&-text {
			font-size: 1.6rem;
			line-height: 1.65;

			padding: 1.7rem 0 0;

			color: #455a64;
			@include breakpoint($tablet) {
				font-size: 1.4rem;
				line-height: 1.55;
			}				
			p {
				margin: 1rem 0 0;
				&:first-child {
					margin-top: 0;
				}
			}
			img {
				margin: 1rem 0 0;

				vertical-align: middle;
			}
		}
	}
}
