.str-field {
	font-size: $str-field-font-size;
	line-height: 4.5rem;

	box-sizing: border-box;
	width: auto;
	height: 4.5rem;
	padding: 0 2rem;

	color: $str-field-color;
	border: 0;
	border-radius: 2.25rem;
	outline: none;
	background-color: #fff;

	@include breakpoint($tablet) {
		font-size: $str-field-font-size*.875;
	}
	&::placeholder {
		transition: text-indent .75s,color .75s,opacity .75s;
		text-indent: 0;

		opacity: 1;
		color: rgba($str-field-color,.5);
	}
	&:focus::placeholder {
		transition: text-indent .75s,color .75s,opacity .75s;
		text-indent: -100%;

		opacity: 0;
		color: rgba($str-field-color,0);
	}
	&_full-width {
		width: 100%;
	}
	&_bg-opacity {
		transition: background-color .2s;

		background-color: rgba(#fff,.85);
		&:focus {
			background-color: #fff;
		}
	}
	&_with-icon {
		padding-left: 6.5rem;

		background: linear-gradient(to right, #f0efea 4.5rem,#fff 4.5rem);
		+ svg {
			font-size: 1.6rem;

			position: absolute;
			top: 0;
			bottom: 0;
			left: 1.5rem;

			display: block;

			margin: auto;

			color: #c5cace;
		}
	}
}

.text-field {
	font-size: $str-field-font-size;
	line-height: 1;

	box-sizing: border-box;
	width: auto;
	max-width: 100%;
	min-height: 14rem;
	padding: 1.5rem 2rem;

	color: $str-field-color;
	border: 0;
	border-radius: 2.25rem;
	outline: none;
	background-color: #fff;

	@include breakpoint($tablet) {
		font-size: $str-field-font-size*.875;
	}
	&_full-width {
		width: 100%;
	}
	&_bg-opacity {
		transition: background-color .2s;

		background-color: rgba(#fff,.85);
		&:focus {
			background-color: #fff;
		}
	}
	&::placeholder {
		transition: text-indent .75s,color .75s,opacity .75s;
		text-indent: 0;

		opacity: 1;
		color: rgba($str-field-color,.5);
	}
	&:focus::placeholder {
		transition: text-indent .75s,color .75s,opacity .75s;
		text-indent: -100%;

		opacity: 0;
		color: rgba($str-field-color,0);
	}
}


.check-field {
	font-size: 0;

	display: inline-block;

	cursor: pointer;
	&__label {
		font-size: $default-font-size;

		margin: 0 0 0 1rem;

		@extend %ibm;
	}
	&__input[type = "checkbox"] {
		display: none;
	}
	&__input[type = "checkbox"] + &__fake-check {
		font-size: 0;
		line-height: 2rem;

		width: 2rem;
		height: 2rem;

		transition: background-color .2s;
		text-align: center;

		color: $check-field__check-bgcolor;
		border-radius: .2rem;
		background-color: $check-field__check-bgcolor;

		@extend %vm;
		@extend %ibm;
		svg {
			font-size: 1.2rem;

			transition: opacity .2s;

			opacity: 0;

			@extend %ibm;
		}
	}
	&__input[type = "checkbox"]:checked + &__fake-check {
		background: $check-field__check-bgcolor_checked;
		svg {
			opacity: 1;
		}
	}
}


.radio-field {
	font-size: 0;

	cursor: pointer;

	@extend %ibm;
	&__label {
		font-size: $default-font-size;

		margin: 0 0 0 1rem;

		transition: color .2s;

		@extend %ibm;
	}
	&__input[type = "radio"] {
		display: none;
	}
	&__input[type = "radio"] + &__fake-radio {
		position: relative;

		width: 2rem;
		height: 2rem;

		border-radius: 50%;
		background-color: $radio-field__radio-bgcolor;

		@extend %ibm;
		&:after {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			display: block;

			width: .8rem;
			height: .8rem;
			margin: auto;

			content: "";
			transition: background-color .2s,transform .2s;
			transform: scale(0);

			border-radius: 50%;
			background-color: rgba($radio-field__radio-bgcolor_checked,0);
		}
	}
	&__input[type = "radio"]:checked + &__fake-radio {
		&:after {
			transform: scale(1);

			background-color: rgba($radio-field__radio-bgcolor_checked,1);
		}
	}
	&__input[type = "radio"]:checked + &__fake-radio + &__label {
		color: $radio-field__radio-bgcolor_checked;
	}
}
