.form-login {
	overflow: hidden;

	border-radius: .5rem;
	background: rgba(#122620,.6);
	&__title {
		margin: 0 0 3.1rem;
	}
	&__body {
		padding: 3.3rem 2rem 4.3rem;

		text-align: center;
	}
	&__row {
		line-height: 1;

		display: block;

		margin: 0 0 2rem;

		text-align: center;

		color: rgba(#fff,.8);
		&:last-child {
			margin: 0;
		}
		&-title {
			font-family: "Roboto Bold", sans-serif;
			font-size: $default-font-size;

			margin: -.2rem 0 1.1rem;
		}
	}
	&__btns {
		margin: -.3rem 0 0;
	}
	&__radio-list {
		font-size: 0;
	}
	&__radio-list-item {
		margin: 0 3.9rem 0 0;

		@extend %ibm;
		&:last-child {
			margin: 0;
		}
	}
}
