.form {
	&__title {
		padding: 1.3rem 0 3.1rem;

		color: $title-color_white;

		@include breakpoint($phone) {
			padding:1.1rem 0 1.7rem; 
		}		
		&_green {
			color: #566358;
		}
	}
	&__body {
		padding: 2rem;

		text-align: center;
		&_bottom-padding {
			padding-bottom: 4.3rem;
		}
	}
	&__row {
		line-height: 1;

		position: relative;

		display: block;

		margin: 0 0 2rem;

		text-align: center;

		color: rgba(#fff,.8);
		&:last-child {
			margin: 0;
		}
		&-title {
			font-family: "Roboto Bold", sans-serif;
			font-size: $default-font-size;

			margin: -.2rem 0 1.1rem;
		}
	}
	&__btns {
		margin: -.3rem 0 0;
	}
	&__radio-list {
		font-size: 0;
	}
	&__radio-list-item {
		margin: 0 3.9rem 0 0;

		@extend %ibm;
		&:last-child {
			margin: 0;
		}
	}
}
