.form {
	position: relative;
	overflow:hidden;
	&__title {
		padding: 1.3rem 0 3.1rem;

		color: $title-color_white;

		@include breakpoint($phone) {
			padding:1.1rem 0 1.7rem; 
		}		
		&_green {
			color: #566358;
		}
	}
	&__body {
		padding: 2rem;

		text-align: center;
		&_bottom-padding {
			padding-bottom: 4.3rem;
		}
	}
	&__row {
		line-height: 1;

		position: relative;

		display: block;

		margin: 0 0 2rem;

		text-align: center;

		color: rgba(#fff,.8);
		&:last-child {
			margin: 0;
		}
		&-title {
			font-family: "Roboto Bold", sans-serif;
			font-size: $default-font-size;

			margin: -.2rem 0 1.1rem;
		}
	}
	&__btns {
		margin: -.3rem 0 0;
		overflow:hidden;
		border-bottom-right-radius: .5rem;
		border-bottom-left-radius: .5rem;
	}
	&__btn {
		text-align:center;
	}
	&__radio-list {
		font-size: 0;
	}
	&__radio-list-item {
		margin: 0 3.9rem 0 0;

		@extend %ibm;
		&:last-child {
			margin: 0;
		}
	}
	&__tip {
		display:block;
		font-size:1.2rem;
		line-height:1.2rem;
		&-message {
			display:inline-block;
			padding:.5rem;
			border-radius:.5rem;
			margin-top:.5rem;
			color:#fff;
			background:rgba(#cc0000,.85);
		}
	}
	&__wrap-blur {
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		z-index:-1;
		filter:blur(20px);
		transform: translateZ(0);
		background-image: url(../img/footer_1800.jpg);
		background-repeat: no-repeat;
		border-radius:.5rem;
		&_alt {
			background:rgba(#fff,0.4);
		}
	}
}

@keyframes showssTip {
	0% {
		transform: translate3d(0, 1rem, 0);
		opacity: 0;
		visibility:hidden;
	}
	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
		visibility: visible;
	}	
}
